// add expand col to grid

.col-expand, .col-sm-expand, .col-md-expand, .col-lg-expand, .col-xl-expand {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-expand {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 1px;
  max-width: 100%;
}

@media (min-width: 576px) {

  .col-sm-expand {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {

  .col-md-expand {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {

  .col-lg-expand {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {

  .col-xs-expand {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
  }
}

body {
  font-family: @global-font-family;
}

img {
  max-width: 100%;
}

a, button {
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
  }
}

a {
  color: @color-primary;

  &:hover {
    color: lighten(@color-primary, 10%);
  }
}

.h1, h1 {
  font-size: 24px;
}

h2, .h2 {
  font-size: 22px;
}

h3, .h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

.btn {
  text-transform: uppercase;
}

// Table responsive

@media (max-width: 575px) {
  .tm-table-responsive {
    display: block;

    tbody, th, td, tr {
      display: block;
    }

    thead {
      display: none;
    }

    tr + tr {
      margin-top: 10px;
    }
  }
}

// Slider hide

.slick-slider:not(.slick-initialized) {
  display: none;
}


