.cards-list {

  .card {
    border: none;
  }

  .card-header {
    color: @color-secondary;
    background-color: @color-primary;
    border-bottom: 1px solid rgba(0,0,0,.125);

    a {
      color: @color-secondary;

      &:hover {
        color: lighten(@color-secondary, 10%);
        text-decoration: none;
      }
    }
  }
}