.modal-content {
  border: none;

  .nav-link {

    &:focus, &:hover {
      color: #fff;
      background-color: @color-light;
    }
  }

  .close {
    color: #fff;
  }
}

.modal-header {
  color: #fff;
  background-color: @color-primary;
}