//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Typography
//

@text-color: #222;

//
// Colors
//

@color-primary: #1531ae;
@color-secondary: #ffb400;
@color-light: #6f81d7;
@color-secondary-light: #ffd673;
@color-dark: #071a71;

//
// Backgrounds
//


//
// Borders
//

//
// Spacings
//

//
// Controls
//

//
// Z-index
//